@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

nav.menu{
    border-bottom: 1px solid #6E07F35d;
    box-shadow: #6d07f35d 0px 1px 20px 5px;
    height: 120px;
    width: 100vw;
    position: fixed;
    background: #fff;
    z-index: 1000;
}

nav.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    height: 100%;
}

nav.menu ul li{
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 2px 2px 0px 0;
    font-family: Rajdhani;
    font-size: 1.8em;
    color: #6E07F3;
    border-radius: 10% 10% 0 0;
    transition: 0.3s ease-in;
    cursor: url("./img/cursor2.ico"), pointer;
}

nav.menu ul li:hover{
    box-shadow: #6d07f35d 1px 1px 20px 5px;
    background: rgb(110,7,243);
    color: #fff;
}

section.conteudo div{
    height: 100vh;
    overflow: hidden;
}

div.about{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

div.about img{
    max-height: 20vw;
    /* margin-bottom: 20px; */
    filter: drop-shadow(1px 1px 10px #6d07f35d);
}

div.contacts{
    background: rgb(110,7,243);
}